td div.red {
	height: 4em;
    width: 4em;
	border-radius: 50%;
	background: red;
	margin: auto;
}

td div.yellow {
	height: 4em;
    width: 4em;
	border-radius: 50%;
	background: rgb(207, 207, 18);
	margin: auto;
}

.cell-content{
	height: 4em;
}

.winner-red{
	box-shadow: 0 0 .5em .5em red;
	animation: Test 1s infinite;
}

.winner-yellow{
	box-shadow: 0 0 .5em .5em yellow;
	animation: Test 1s infinite;
}

@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}